.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  margin: 20px;
}

.file-selector {
  margin: 10px;
}

option {
  color: black; /* Ensure the text color is black or any other color that contrasts with the background */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh; /* Reduce the minimum height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin); /* Adjust the font size */
  color: white;
}

.App-link {
  color: #61dafb;
}

.error {
  color: red;
  margin-top: 10px;
}

select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.heatmap {
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
