/* src/styles/Tooltip.css */
/* .tooltip {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  pointer-events: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} */

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none; /* Ensure tooltip doesn’t block interactions */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.tooltip-content {
  color: #000000;
}
