.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Add styles for the dropdown menu */
select {
  color: black; /* Ensure the text color is black or any other color that contrasts with the background */
  background-color: white; /* Ensure the background color is white or any other color that contrasts with the text */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  padding: 5px; /* Optional: Add some padding */
  font-size: 16px; /* Optional: Adjust font size */
}

option {
  color: black; /* Ensure the text color is black or any other color that contrasts with the background */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.error {
  color: red;
  margin-top: 10px;
}

select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
